@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-size: 14px;
}

@layer base {
	.btn {
		@apply py-2 px-4 mr-2 my-2 rounded-md bg-white border border-gray-300;
	}

	.lnk {
		@apply py-2 px-4 mr-2 rounded-md bg-white border border-gray-300;
	}

	.pill {
		@apply py-1 px-2 ml-1 rounded-md bg-gray-600 text-white text-xs;
	}

	.btnlike {
		@apply py-2 px-4 rounded-lg bg-white border border-gray-300;
	}

	.field {
		margin-bottom: 2rem;
	}

	.field label>span {
		display: block;
	}

	.field input {
		@apply px-4 py-2 border border-gray-300 rounded-md;
	}

	.field input[type="text"] {
		width: 100%;
	}

	.field input[type="color"] {
		padding: 2px;
		width: 100px;
		height: 40px;
	}
}